<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>New Records</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
        
<!--         <script src="/JS/phoneNumber.js"></script>        -->
    </head>
	<body>
		<div class="container">
			<h1>Records Addition System</h1>
			<hr>
			<h2>Save Records</h2>
	
			<form action="#" th:action="@{/saveRecords}" th:object="${records}" method="POST">
				
				<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">
				
				<input type="date" th:field="*{date}" class="form-control mb-4 col-4">
								
				<input type="text" th:field="*{phoneNum}" placeholder="Client Phone Number" class="form-control mb-4 col-4 date-format">
				
				<!-- <table id="tblForm" border="0" cellpadding="5" cellspacing="0">
				    <tr>
				        <td>Birth Date:</td>
				        <td><input type="text" class="date-format" /></td>
				        <td><span class="error" style="display: none">Invalid Date. Only dd/MM/yyyy format allowed.</span></td>
				    </tr>
				</table> -->
				
				<input type="text" th:field="*{vehLocation}" placeholder="Location of Vehicle" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{vehYear}" placeholder="Year of Vehicle" class="form-control mb-4 col-4">
				
				<!-- Potential drop down box for make and model --> <!-- Customer didn't want drop down boxes but they are possible -->
				<input type="text" th:field="*{vehMake}" placeholder="Vehicle Make" class="form-control mb-4 col-4"> 
				
				<input type="text" th:field="*{vehModel}" placeholder="Vehicle Model" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{vehColor}" placeholder="Vehicle Color" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{vehIdNum}" placeholder="Vehicle ID Number" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{vehTowedTo}" placeholder="Vehicle Towed To" class="form-control mb-4 col-4">
								
				<input type="text" th:field="*{opSignature}" placeholder="Operator Signature" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{total}" placeholder="Total: $" class="form-control mb-4 col-4">
				
				<select name="payment" id="payment" th:field="*{payment}">
					<option value="">Payment Type</option>
					<option value="Cash">Cash</option>
					<option value="Credit">Credit</option>
					<option value="Check">Check</option>
				</select>
				
				<br><br>
				<textarea rows="5" cols="60" th:field="*{extraText}" placeholder="Enter details here..."></textarea>			
				<br>				
					
				<button type="submit" class="btn btn-info col-2"> Save Records</button>
			</form>
			
			<hr>
			
			<a th:href = "@{/}"> Back to Records List</a>
		</div>
	</body>
</html>