<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Books Management System</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
        <script src="/JS/total.js"></script>
    </head>
    <body>

<!--         <div class="container my-2"> -->
        <h1>Records List</h1>

        <a th:href = "@{/showNewRecordsForm}" id=button1 class="btn btn-primary btn-sm mb-3"> Add Records </a>

            <!--<table border="1" class = "table table-striped table-responsive-md">-->
            <!--<table class="table table-striped">-->
            <div class="card">
            <div id="menu">
	        	  <table>
	        		 <thead>
	        		     <tr>
		            	     <th>Name</th>
<!-- 	                        <th>Total</th> -->
	                        <th>Towing Fee</th>
	                        <th>Mileage Fee</th>
	                        <th>Total</th>
	                        <th>Actions</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="records : ${listRecords}">
                        <td><a th:text="${records.firstName + ' ' + records.lastName}"></a></td>
	                        <td th:text="${records.towingFee}"></td>
                            <td th:text="${records.mileageFee}"></td>
                            <td th:text="${records.total}"></td>                   
	                        <td> <a th:href="@{/showFormForUpdate/{id}(id=${records.id})}" type=button class="btn">Update</a>
	                            <a th:href="@{/deleteRecords/{id}(id=${records.id})}" type=button class="btn">Delete</a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
            </div>

            <a th:href = "@{/}"> Back to Records List</a>
          </div>
    </body>
</html>
